/* ---{Responsive-1299px}--- */
@media (max-width: 1299px) {
   .oneimg {
    width: 123%;
   }
    .boxpara .p-2 {
        width: 59%;
    }
    .threethings {
        padding: 80px 5%;
    }
    .oneimg {
        width: 63%;
    }
    .sec-three-color-box {
    margin-top: 25%;
    }

    .endbutton {
    width: 60%;
    }
    .endbutton a {
        gap: 10px;
    }

     .form-btn button {
     padding: 11px;
    }
}



/* ---{Responsive-1199px}--- */
@media (min-width: 1199px) {

    .threethings {
        padding: 80px 7%;
    }
    .threethingsdouble {
        padding: 75px 2%;
    }

   .oneimg {
    width: 63%;
   }
    .boxpara .p-2 {
        width: 65%;
    }

    .sec-three-color-box {
    margin-top: 25%;
    }

    .endbutton {
        width: 65%;
    }
    .endbutton a {
        gap: 10px;
    }

    .form-btn {
        width: 42%;
    }
    .form-btn button {
     padding: 11px;
    }
}

/* ---{Responsive-1099px}--- */
@media (min-width: 1099px) {

    .threethings {
        padding: 80px 3%;
    }
    .threethingsdouble {
        padding: 75px 2%;
    }

    .oneimg {
    width: 123%;
   }
    .boxpara .p-2 {
        width: 65%;
    }

   .sec-three-color-box {
    margin-top: 25%;
   }

    .endbutton {
        width: 58%;
    }
    .endbutton a {
        gap: 8px;
    }
    

    .endbutton {
        width: 58%;
    }
    .endbutton a {
        gap: 8px;
    }
    
    
    .map-contact-form{
        padding: 40px;
    }

    .form-btn {
        width: 42%;
    }
    .form-btn button {
        padding: 13px;
    }

}


/* ---{Responsive-1024px}--- */
@media (min-width: 1024px) {
    .threethings {
        padding: 80px 4%;
    }
    .oneimg {
    width: 145%;
    }
    .boxpara .p-2 {
    width: 68%;
    }
    .afterblurimg img {
    width: 65%;
    }
    .sec-three-color-box {
    margin-top: 20%;
   }
   .threelightorangeboxcontainertwo {
    gap: 10%;
   }
   .boxpara {
    padding: 8px;
   }
   .fourandImg {
    padding: 19px;
   }
   .building, .year, .awwards {
    padding: 10px;
   }
   .endbutton {
        width: 80%;
    }
}
