/* ---{Responsive-1300px}--- */
@media (max-width: 1300px) {
   .oneimg {
    width: 78%;
   }
    .boxpara .p-2 {
        width: 59%;
    }
    .threethings {
        padding: 80px 2%;
    }
    .threethingsdouble {
    padding: 80px 2%;
    }
    .sec-three-color-box {
    margin-top: 25%;
    }
    .apv {
    display: flex;
    gap: 65px;
    }
    .endbutton {
    width: 50%;
    }
    .endbutton a {
        gap: 10px;
    }

     .form-btn button {
     padding: 11px;
    }
}



/* ---{Responsive-1200px}--- */
@media (max-width: 1200px) {

    .threethings {
        padding: 80px 2%;
    }
    .threethingsdouble {
        padding: 80px 2%;
    }

   .oneimg {
    width: 90%;
   }
   .headingandPara h2 {
    margin: 48px 0;
    }
    .fourandImg {
    padding: 40px;
    }
    .boxpara .p-2 {
        width: 65%;
    }

    .sec-three-color-box {
    margin-top: 25%;
    }

    .endbutton {
        width: 65%;
    }
    .endbutton a {
        gap: 10px;
    }

    .form-btn {
        width: 42%;
    }
    .form-btn button {
     padding: 11px;
    }
}

/* ---{Responsive-1099px}--- */
/* @media (min-width: 1099px) {

    .threethings {
        padding: 80px 3%;
    }
    .threethingsdouble {
        padding: 75px 2%;
    }

    .oneimg {
    width: 123%;
   }
    .boxpara .p-2 {
        width: 65%;
    }

   .sec-three-color-box {
    margin-top: 25%;
   }

    .endbutton {
        width: 58%;
    }
    .endbutton a {
        gap: 8px;
    }
    

    .endbutton {
        width: 58%;
    }
    .endbutton a {
        gap: 8px;
    }
    
    
    .map-contact-form{
        padding: 40px;
    }

    .form-btn {
        width: 42%;
    }
    .form-btn button {
        padding: 13px;
    }

} */


/* ---{Responsive-1024px}--- */
/* @media (min-width: 1024px) {
    .threethings {
        padding: 80px 2%;
    }
    .oneimg {
    width: 117%;
    }
    .boxpara .p-2 {
    width: 68%;
    }
    .afterblurimg img {
    width: 65%;
    }
    .sec-three-color-box {
    margin-top: 20%;
   }
   .threelightorangeboxcontainertwo {
    gap: 10%;
   }
   .threethingsdouble {
    padding: 80px 1%;
   }
   .innextlilne {
    align-items: center;
   }
   .boxpara {
    padding: 8px;
   }
   .fourandImg {
    padding: 19px;
   }
   .building, .year, .awwards {
    padding: 10px;
   }
   .innextlinethirdbox p {
    margin: 13px;
   }
   .endbutton {
        width: 62%;
    }
    .endbutton a{
        gap: 9px;
    }
    .map-contact-form {
    padding: 11px;
    }
    .form-btn {
    width: 50%;
}
} */



/* ---{Responsive-991px}--- */
/* 
@media (min-width: 991px) {
    .containertwo {
    padding: 15px 4%;
    } 
    .threethings {
    padding: 80px 3%;
}
    .oneimg {
    width: 100%;
    }
    .span {
    font-size: 18px;
    }
    .headingandPara h2 {
    font-size: 2.5rem;
    margin: 1px 0;
    }
    .fourandImg {
    padding: 15px;
    }
    .totalflatspace {
    margin-bottom: 15px;
    }
    .payment {
    margin-bottom: 7px;
    }
    .boxpara {
        padding: 6px;
        margin-top: 34px;
        font-size: 15px;
    }
    .boxpara .p-2 {
    width: 56%;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    }
    .boxpara .p-3 {
    font-size: 18px;
    }
    .contractready, .totalflatspace {
    margin-bottom: 15px;
    }
    .blur-img-top-text {
    margin-top: 16%;
    }
    .afterblurimg img {
    width: 70%;
    }
    .building {
    padding: 10px;
    min-width: 220px;
    }
    .threethingsdouble {
    padding: 80px 3%;
    }
    .innextlilne {
    align-items: center;
    gap: 12px;
    }
    .innextlinebox {
    padding: 23px 6px 23px 6px;
    }
    .innextlinethirdbox h6 {
    padding-left: 3px;
    }
    .innextlinethirdbox p {
    margin: 20px 4px;
    }
    .apv {
    display: flex;
    gap: 45px;
    }
    .endbutton {
    width: 55%;
    margin: 6px 16px;
    }
    .endbutton a {
    font-size: 15px;
    gap: 6px;
    }
    .endbutton i {
    padding: 12px
    }
    .map-contact-form {
    padding: 17px;
    gap: 30px;
    }
    .contact-form-right {
    width: 34%;
    }
    .contact-form-right form {
    padding: 8px 3px 6px 18px;
    }
} */



/* ---{Responsive-767px}--- */
/* @media (min-width: 767px) {
    
    
} */



/* 
@media (max-width:1299px){
.headingandPara h2 {
    font-size: 2rem;
}
.blurimg h3 {
    font-size: 2rem;
}
}

@media (max-width:1600px){

}
@media (max-width:1399px){

}
@media (max-width:1199px){

}
@media (max-width:991px){

}
@media (max-width:767px){

}
@media (max-width:576px){

}
@media (max-width:480px){

} */